ion-title{
    font-family : Bahagia;
    font-size: 24px;
  }

  ion-button{
    font-family: Ailerons;
    font-size: 16px;
    font-weight: 1000;
}

ionic-selectable{
    font-family: Ailerons;
    font-size: 16px;
}

ion-label{
    font-family : Bahagia;
    font-size: 20px;

}