<ion-header>
  <ion-toolbar>
    <ion-title>Creation de Votre Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/img/Sipago1.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to SipaGo</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-content>
  <div padding>
    <div text-center>
      <div text-center>
        <!-- <button ion-button color="facebook" (click)="facebookLogin()">
          LOG IN WITH FACEBOOK
        </button> -->
      </div>
    </div>
  </div>





</ion-content>