
  


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="gris">
      <ion-icon name="contact" class="rouge"></ion-icon>
      <ion-label color="white">Se Connecter</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab-fb" class="gris">
      <ion-icon name="logo-facebook" class="rouge"></ion-icon>
      <ion-label color="white">Creer un Compte avec Fb</ion-label>
    </ion-tab-button> -->


    <ion-tab-button tab="tab2" class="gris">
      <ion-icon name="create" class="rouge"></ion-icon>
      <ion-label color="white">Creer un Compte</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
