
ion-item {
    --border-color: var(--ion-color-dark);
  }
  
  :host {
    ion-item {
        --border-color: white; // default underline color
        --highlight-color-invalid: red; // invalid underline color
        --highlight-color-valid: red; // valid underline color
    }
  }


  ion-title{
    font-family : Bahagia;
    font-size: 24px;
  }

  ion-button{
    font-family: Ailerons;
    font-size: 16px;
    font-weight: 1000;
}