@font-face {
   font-family: 'Bahagia';
   src: url('../assets/fonts/Bahagia.ttf');
   font-weight: 200;
   font-size: 24px;
   font-style: normal;
 }


 @font-face {
  font-family: 'theSecret';
  src: url('../assets/fonts/TheSecret-Regular.ttf');
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
}
@font-face {
  font-family: 'Anana';
  src: url('../assets/fonts/anana-Regular.ttf');
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
}

@font-face {
  font-family: 'Ailerons';
  src: url('../assets/fonts/Ailerons-Regular.otf');
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
}

